In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("mercedesbenz.csv")

In [3]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df=pd.read_csv("mercedesbenz.csv", usecols=['X1','X2','X3','X4','X5','X6'])

In [5]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [7]:
## How many labels each variable have?

for col in df.columns:
    print(col, ':', len(df[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [10]:
## Lets examine how many columns we will obtain after one hot encoding these variables

pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [12]:
## Find out top 10 most frequent categories for the variable X2

df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [13]:
## Lets make a list with most frequent categories of the variable.

top_10 = [x for x in df.X2.value_counts().head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [15]:
## Now we make the 10 binary variables

for label in top_10:
    df[label]=np.where(df['X2']==label,1,0)
    
df[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [16]:
## Get the whole set of dummy variables, for all categorical variables

def one_hot_top_x(df, variables, top_x_labels):
    ## Function to create most dummy variables for the most frequent labels
    ## We can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variables+'_'+label]=np.where(df[variables]==label,1,0)
        
## Read the data again
df=pd.read_csv('mercedesbenz.csv', usecols=['X1','X2','X3','X4','X5','X6'])

## Encode X2 into top 10 most frequent categories
one_hot_top_x(df,'X2',top_10)
df.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0

In [20]:
## Lets do it for X1
## Step 1 - Find the count of categories

df.X1.value_counts().head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [22]:
## Step 2 - Make the list

top_5 = [x for x in df.X1.value_counts().sort_values(ascending=False).head(5).index]
top_5

['aa', 's', 'b', 'l', 'v']

In [25]:
## Step 3 - Make the list binary

for label in top_5:
    df[label]=np.where(df['X1']==label,1,0)

df[['X1']+top_5].head(20)

    X1  aa  s  b  l  v
0    v   0  0  0  0  1
1    t   0  0  0  0  0
2    w   0  0  0  0  0
3    t   0  0  0  0  0
4    v   0  0  0  0  1
5    b   0  0  1  0  0
6    r   0  0  0  0  0
7    l   0  0  0  1  0
8    s   0  1  0  0  0
9    b   0  0  1  0  0
10   r   0  0  0  0  0
11   r   0  0  0  0  0
12   b   0  0  1  0  0
13   r   0  0  0  0  0
14   s   0  1  0  0  0
15   l   0  0  0  1  0
16   r   0  0  0  0  0
17  aa   1  0  0  0  0
18   c   0  0  0  0  0
19   a   0  0  0  0  0

In [30]:
## Step 4 - Call the function

df=pd.read_csv('mercedesbenz.csv', usecols=['X1','X2','X3','X4','X5','X6'])

one_hot_top_x(df,'X1',top_5)
df.head()

  X1  X2 X3 X4 X5 X6  X1_aa  X1_s  X1_b  X1_l  X1_v
0  v  at  a  d  u  j      0     0     0     0     1
1  t  av  e  d  y  l      0     0     0     0     0
2  w   n  c  d  x  j      0     0     0     0     0
3  t   n  f  d  x  l      0     0     0     0     0
4  v   n  f  d  h  d      0     0     0     0     1